/* YOUR CUSTOM CSS */
.user-info {
	padding: 13px 15px 12px 15px;
	white-space: nowrap;
	position: relative;
	height: 184px;
	width: 250px;
}
.user-info .admin-image {
	display: table-cell;
	vertical-align: top
}
.user-info .admin-image>img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	float: left;
	width: 72px;
	height: auto
}
.user-info .admin-action-info {
	display: table-cell;
	padding-left: 20px;
	vertical-align: middle
}
.user-info .admin-action-info>span {
	color: #fff!important;
	float: left;
	font-size: 12px
}
.user-info .admin-action-info h3 {
	color: #fff!important;
	float: left;
	font-size: 17px;
	font-weight: bold;
	line-height: 22px;
	margin: 0;
	width: 100%
}

.user-info .quick-stats {
	float: left;
	text-align: left;
	width: 100%
}
.user-info .quick-stats>h5 {
	color: #fff!important;
	float: left;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.3px;
	line-height: 22px;
	margin: 5px 0;
	width: 100%;
	text-transform: uppercase
}
.user-info .quick-stats>ul {
	list-style: outside none none;
	margin: 0;
	padding: 0
}
.user-info .quick-stats>ul>li {
	float: left;
	padding: 0 1px;
	width: 33.333%
}
.user-info .quick-stats>ul>li>span {
	background: #ffffff none repeat scroll 0 0;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	color: #555;
	float: left;
	font-size: 15px;
	padding: 5px 0;
	text-align: center;
	width: 100%;
	font-weight: 700
}
.user-info .quick-stats>ul>li>span i {
	color: #777!important;
	float: left;
	font-size: 10px;
	font-style: normal;
	letter-spacing: 0.3px;
	line-height: 14px;
	width: 100%;
	font-weight: 100
}
